:root {
  --primary: #ffffff;
  --secondary: #000000;
  --tertiary: #f5f5f5;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary);
  line-height: 1.5;
  font-size: 16px;
}

header {
  background-color: var(--secondary);
  color: var(--primary);
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  color: var(--secondary #000000);
  line-height: 1.25;
}

.city-search {
  margin-left: 10px;
  padding-top: 10px;
  margin-right: 10px;
  background-color: var(--tertiary);
}

input {
  font-size: 20px;
}

button {
  background-color: #4d79ff;
  color: var(--primary);
  font-size: 20px;
}

button:hover {
  border-color: lightblue;
  outline: lightblue;
}

p {
  font-size: 1.2rem;
}

/* CARDS */
.card {
  
}